body {
    background-color: rgb(0, 183, 255);
}

h1 {
    font-family: cursive;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #22476C;
}

p, li {
    font-family: sans-serif;
    color: white;
    cursor: default;
}

.img {
    height: 150px;
    float: right;
    margin: 15px 15px auto;
}

.efek{
    border: 1px solid #3a87d3;
    padding: 5px;
    margin: 0 auto;
    text-align: middle;
    background-color: #49a4ff;
    width: 600px;
}

.efek a{
    display: block;
    margin: 3px 0px;
    border-top: 1px solid #4C86C0;
    border-left: 1px solid #4C86C0;
    border-right: 1px solid #22476C;
    border-bottom: 1px solid #22476C;
    padding: 4px 10px;
    text-align: center;
    background-color: #336699;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.efek a:active{
    color: grey;
}

.efek a:hover{
    display: block;
    margin: 3px 0px;
    border-top: 1px solid #22476C;
    border-left: 1px solid #22476C;
    border-right: 1px solid #4C86C0;
    border-bottom: 1px solid #4C86C0;
    padding: 5px 9px 3px 11px;
    text-align: center;
    background-color: #336699;
    text-decoration: none;
}

TH {
    color: #FFFFFF;
    background-color: #336699;
    border: 1px solid #4C86C0;
    font-size: 9pt;
}
TD {
    color: black;
    background-color: #E6E6FA;
    border: 1px solid grey;
    font-size: 9pt;
}